{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 120,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.{js,jsx,tsx,ts,scss,json,html,md}",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
